header {
  position: relative;
  z-index: 100;
}

.page-header {
  display: block;
  position: relative;
  z-index: 1;
  padding-top: 100px;
  padding-left: 100px;
}

.page-header .header-container {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.page-header img {
  display: block;
  margin: 0;
  width: 225px;
  margin-right: 25px;
}

.page-header .header-container .header {
  color: #3b3b3b;
  margin-bottom: 0;
}

.page-header .page-description {
  display: flex;
  justify-content: center;
  padding-right: 100px;
}

.page-header .page-description p {
  text-align: center;
  width: 55%;
  font-size: 1.5rem;
  line-height: 1.6;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: scroll;
}

.modal {
  position: relative;
  z-index: 200;
  flex: 0 1 55%;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

.modal #modal-img {
  display: block;
  width: 100%;
  margin: 0 auto;
  border-radius: 2px;
  margin-bottom: 50px;
  display: inline-block;
  user-select: none;
  /* box-shadow: 3px 5px 7px rgba(0, 0, 0, .16); */
}

.modal .modal-close {
  position: absolute;
  top: -30px;
  right: -35px;
  cursor: pointer;
}

.modal .modal-prev {
  position: fixed;
  top: 45%;
  margin-left: -71px;
  cursor: pointer;

  -webkit-transform:translateZ(1px);
  -moz-transform:translateZ(1px);
  -o-transform:translateZ(1px);
  transform:translateZ(1px);
}

.modal .modal-next {
  position: fixed;
  top: 45%;
  margin-left: 50px;
  cursor: pointer;

  -webkit-transform:translateZ(1px);
  -moz-transform:translateZ(1px);
  -o-transform:translateZ(1px);
  transform:translateZ(1px);
}

h2 {
  color: #6C86DB;
  font-size: 1.7rem;
  text-align: left;
  margin-bottom: 0px;
}

section.websites {
  padding: 0px 100px;
  padding-top: 50px;
  padding-bottom: 125px;
}

section.websites h2 {
  margin-bottom: 35px;
}

section.websites .websites-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 0 auto;
  padding: 0 25px;
}
section.websites .websites-cards-container .website-card-container {
  width: 450px;
  margin-bottom: 35px;
}
section.websites .websites-cards-container .website-card-container h4 {
  margin-top: 35px;
  text-align: center;
}

section.websites .website-card {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  margin: 5px;
  height: 400px;
  background-color: #E4E4E4;
  border-radius: 2px;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, .16);
}
section.websites .website-card:hover > .website-card-overlay {
  display: flex;
}
section.websites .website-card:not(:hover) > .website-card-overlay {
  display: none;
}

section.websites .website-card > .website-card-overlay {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 50;
  border-radius: 2px;
  background-color: rgba(59, 59, 59, 0.5);
  cursor: pointer;
}

section.websites .website-card > .website-card-overlay img {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
section.websites .website-card > .website-card-overlay span {
  color: #FFF;
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 1.1rem;
}

section.websites .website-card .img-container {
  flex: 1 1 auto;
  margin: 5px;
  overflow: hidden;
}

section.websites .website-card img {
  display: block;
  width: 100%;
}

section.logos {
  position: relative;
  padding: 0px 100px;
  padding-top: 85px;
  padding-bottom: 150px;
  background-color: #E4E4E4;
}

section.logos:before {
    background: inherit;
    top: -20px;
    content: '';
    display: block;
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(.9deg);
    transform-origin: 100%;
    z-index: 1;
}

.logos-container {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: 0 25px;
}

.logos-container img {
  display: block;
  width: 350px;
  margin-bottom: 35px;
}


@media screen and (max-width: 1300px) {

}

@media screen and (max-width: 1150px) {
  .modal {
    flex: 0 1 80%;
  }

  .page-header .page-description p {
    width: 70%;
  }

  .page-header .page-description {
    padding-right: 50px;
  }
}

@media screen and (max-width: 1050px) {
  .page-header {
    padding-top: 85px;
    padding-left: 50px;
  }
}

@media screen and (max-width: 750px) {
  .page-header {
    padding-left: 0px;
    margin-bottom: 25px;
  }

  .page-header img {
    margin-right: 0px;
  }

  .page-header .header-container {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .page-header .header-container .header {
    display: none;
  }

  .page-header .page-description {
    padding-right: 0px;
  }

  section.websites, section.logos {
    padding: 0px 20px;
  }

  .modal .modal-prev {
    margin-left: -46px;
  }

  .modal .modal-next {
    margin-left: 25px;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
  }

  .logos-container {
    padding-bottom: 75px;
  }

  .logos-container img {
    width: 100%
  }

  section.logos:before {
    height: 35px;
  }

  section.websites, section.logos {
    padding: 0px 0px;
  }

  section.websites .website-card {
    height: 75vw;
  }

  section.logos {
    padding-top: 20px;
  }

  .modal .modal-prev {
    margin-left: -36px;
  }

  .modal .modal-next {
    margin-left: 15px;
  }

}
