 @import "./variables.css";

 html, body {
  margin: 0;
  padding: 0;
  background-color: rgba(240, 240, 240);
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  background-color: #f3f3f3;
  /* background-image: var(--bg-graphic); */
  /* background-image: var(--bg-graphic-alt); */
  background: transparent url('./assets/vintage_speckles.png') 0% 0% repeat padding-box;
}

* {
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  height: 55px;
  background-color: #3B3B3B;
  z-index: 1;
}

header nav {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  height: 100%;
  padding: 0;
  margin: 0 auto;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
  padding: 10px 5px;
  font-weight: 300;
  cursor: pointer;
}

nav ul li .btn-action {
  margin-left: -10px;
  font-size: 1.25rem;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #F3F3F3;
  font-size: 1.25rem;
  border-bottom: 3px solid transparent;
  transition: border-bottom .2s linear;
}

nav ul li a:not(.is-button):hover {
  border-bottom: 3px solid #6c85db;
}

nav ul li a.active {
 font-weight: 600;
}

.masthead {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fade-in 1s;
  animation-fill-mode: forwards;
  animation-delay: .5s;
  position: relative;
  top: 150px;
}

@keyframes fade-in {
  0% { opacity: 0; top: 150px; }
  100% { opacity: 1; top: 0px; }
}

.masthead-content {
  margin-top: -100px;
}

.masthead img {
  display: block;
  margin: 0 auto;
  width: 500px;
  margin-bottom: 30px
}

.masthead .header {
  text-align: center;
  margin: 0;
  font-weight: 500;
  margin-bottom: 25px;
  font-size: 1.8rem;
  color: #3B3B3B;
}

.masthead .call-to-action-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.btn-action {
  text-align: center;
  font-size: 1.3rem;
  padding: 2px 20px;
  border-radius: 1px;
  margin: 0 15px;
}

.btn-primary {
  color: #F2F2F2;
  background-color: #6C86DB;
  border: 2px solid transparent;
}

.masthead .btn-primary {
  /* margin-right: 200px; */
  /* animation: fly-in 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards; */
}

@keyframes fly-in {
  0% { margin-right: 200px; }
  100% { margin-right: 15px; }
}

.btn-primary:hover {
  color: #3b3b3b;
}

.btn-info {
  color: #6C86DB;
  border: 2px solid #707070;
  /* background-color: transparent; */
  background-color: #f3f3f3;
}

.masthead-plate {
  background-color: #707070;
  height: 3px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 100px;
}

h2 {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-size: 1.5rem;
  color: #3B3B3B;
}

section.pitch {
  padding-top: 40px;
  height: 450px;
}

section.core-values {
  padding-top: 65px;
  height: 650px;
  background-color: #C9C9C9;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
}

section.testimonials {
  padding-top: 100px;
  height: 750px;
  background-color: #E4E4E4;
  clip-path: polygon(0% 0%, 100% 8%, 100% 92%, 0% 100%);
  margin-top: -60px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: #3B3B3B;
  clip-path: polygon(0 17%, 100% 0%, 100% 100%, 0% 100%);
  margin-top: -65px;
  color: #f3f3f3;
  padding-top: 20px;
}

footer img {
  display: block;
  width: 75px;
  background-color: #f3f3f3;
  padding: 2px 3px;
  border-radius: 3px;
  margin-right: 20px;
}
